<!-- <footer>
    <ul>
        <li>隱私權</li>
    </ul>
</footer> -->

 <!-- TOP -->
 <div class="top_button no_print">
    <a id="btn_up"><img src="./images/TOP_LOGO_3.png" alt=""></a>
</div>
<!-- 頁尾 -->
<div class="footer section-padding section-border-radius my-2r no_print">
    <ul class="links">
        <li><a href="#">大同大學</a></li>
        <li><a href="./index.html">育成媒合</a></li>
        <li><a href="./nav-memo2.html">帳戶總攬</a></li>
    </ul>
    <p class="copyright">
        大同大學 版權所有&copy;2022 All Rights Reserved.<br>建議使用：IE9.0以上版本或Google
        Chrome瀏覽器<span>(最佳螢幕解析1280*1024)</span>
    </p>
</div>