<div class="row">
    <div class="col-xl-8 mb-3">
        <div class="row mb-3">
            <label for="companyName" class="col-lg-auto col-form-label text-nowrap">公司名稱</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="companyName">
                <span class="text-danger" id="danger_companyName"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="creationDate" class="col-lg-auto col-form-label text-nowrap">成立日期</label>
            <div class="col">
                <input type="date" class="form-control thisRequired" id="creationDate">
                <span class="text-danger" id="danger_creationDate"></span>
            </div>
            <label for="uniformNum" class="col-lg-auto col-form-label text-nowrap">統一編號</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="uniformNum" readonly>
            </div>
        </div>
        <div class="row mb-3">
            <label for="capitalAmount" class="col-lg-auto col-form-label text-nowrap">資本額&emsp;</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="capitalAmount"
                onkeyup="restrictToNum(this)" onfocus="unformatOnFocus(this)" onblur="formatOnBlur(this)">
                <span class="text-danger" id="danger_capitalAmount"></span>
            </div>
            <label for="responsiblePerson" class="col-lg-auto col-form-label text-nowrap">負責人&emsp;</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="responsiblePerson">
                <span class="text-danger" id="danger_responsiblePerson"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="companyAdd" class="col-lg-auto col-form-label text-nowrap">登記地址</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="companyAdd">
                <span class="text-danger" id="danger_companyAdd"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="locationOfCompany" class="col-lg-auto col-form-label text-nowrap">通訊地址</label>
            <div class="col">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="sameAdd">
                    <label for="sameAdd" class="form-check-label">通訊地址同上</label>
                </div>
                <input type="text" class="form-control thisRequired" id="locationOfCompany">
                <span class="text-danger" id="danger_locationOfCompany"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="employeesNum" class="col-lg-auto col-form-label text-nowrap">員工人數</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="employeesNum"
                onkeyup="restrictToNum(this)" onfocus="unformatOnFocus(this)" onblur="formatOnBlur(this)">
                <span class="text-danger" id="danger_employeesNum"></span>
            </div>
            <label for="referrer" class="col-lg-auto col-form-label text-nowrap">推薦人&emsp;</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="referrer">
                <span class="text-danger" id="danger_referrer"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="contactPerson" class="col-lg-auto col-form-label text-nowrap">聯絡人&emsp;</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="contactPerson">
                <span class="text-danger" id="danger_contactPerson"></span>
            </div>
            <label for="ext" class="col-lg-auto col-form-label text-nowrap">分機</label>
            <div class="col col-lg-3">
                <input type="text" class="form-control thisRequired" id="ext">
                <span class="text-danger" id="danger_ext"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="jobTitle" class="col-lg-auto col-form-label text-nowrap">職務名稱</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="jobTitle">
                <span class="text-danger" id="danger_jobTitle"></span>
            </div>
            <label for="companyPhone" class="col-lg-auto col-form-label text-nowrap">電話/手機</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="companyPhone">
                <span class="text-danger" id="danger_companyPhone"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="companyEmail" class="col-lg-auto col-form-label text-nowrap">主要信箱</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="companyEmail"
                    onkeyup="restrictToValidChars(this)">
                <span class="text-danger" id="danger_companyEmail"></span>
            </div>
            <label for="lineId" class="col-lg-auto col-form-label text-nowrap">Line ID</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="lineId"
                onkeyup="restrictToValidChars(this)">
                <span class="text-danger" id="danger_lineId"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="tutoringProfessor" class="col-lg-auto col-form-label text-nowrap">輔導教授</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="tutoringProfessor">
                <span class="text-danger" id="danger_tutoringProfessor"></span>
            </div>
            <label for="nurtureProgram" class="col-lg-auto col-form-label text-nowrap">培育計畫</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="nurtureProgram">
                <span class="text-danger" id="danger_nurtureProgram"></span>
            </div>
        </div>
        <!-- <div class="row mb-3">
            <label for="businessItems" class="col-lg-auto col-form-label text-nowrap">主要營業項目</label>
            <div class="col">
                <textarea class="form-control textarea-md thisRequired"
                id="businessItems" placeholder="※請簡述"></textarea>
                <span class="text-danger" id="businessItems"></span>
            </div>
            <label for="helpItems" class="col-lg-auto col-form-label text-nowrap">駐育成中心主要<br class="d-none d-lg-block">輔導項目需求</label>
            <div class="col">
                <textarea class="form-control textarea-md thisRequired"
                id="helpItems" placeholder="※請簡述"></textarea>
                <span class="text-danger" id="helpItems"></span>
            </div>
        </div> -->
        <!-- <div class="row mb-3">
            <label for="adminNote" class="col-lg-auto col-form-label text-nowrap">管理備註</label>
            <div class="col">
                <textarea class="form-control textarea-md thisRequired" id="adminNote"></textarea>
                <span class="text-danger" id="danger_adminNote"></span>
            </div>
        </div> -->
    </div>
    <div class="col-xl-4 mb-3">
        <div class="salaryRadio px-2 py-2 mx-1 border-success">
            <!-- <div class="mb-3">&#711;&#10623;&#711;&ensp;請先確認修改後的電子信箱是否有重複，若重複就不能使用歐！</div>
            <div class="col-auto">
                <button type="button" class="btn btn-danger btn-sm" id="checkEmail"><i
                        class="fa-solid fa-magnifying-glass"></i>&ensp;檢查</button>
            </div>
            <div class="col">
                結果：
                <span id="checkEmailResult">
                    不能使用。
                </span>
            </div> -->
            <div class="row mb-3 ">
                <label for="businessItems" class="col-12 col-form-label text-nowrap">主要營業項目</label>
                <div class="col">
                    <textarea class="form-control textarea-md thisRequired"
                    id="businessItems" placeholder="※請簡述"></textarea>
                    <span class="text-danger" id="businessItems"></span>
                </div>
            </div>
            <div class="row mb-4 ">
                <label for="helpItems" class="col-12 col-form-label text-nowrap">駐育成中心主要輔導項目需求</label>
                <div class="col">
                    <textarea class="form-control textarea-md thisRequired"
                    id="helpItems" placeholder="※請簡述"></textarea>
                    <span class="text-danger" id="helpItems"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="adminNote" class="col-12 col-form-label text-nowrap">管理備註</label>
                <div class="col">
                    <textarea class="form-control textarea-md thisRequired" id="adminNote"></textarea>
                    <span class="text-danger" id="danger_adminNote"></span>
                </div>
    
            </div>
            <div class="row mb-3">
                <div class="col-12 col-form-label text-nowrap fw-bold">檔案重新上傳：</div>
                <div class="col">
                    <div class="row">
                        <label for="companyProof"
                            class="col-auto col-form-label text-nowrap upload-label py-0">公司登記證<i
                                class="fa-solid fa-upload mx-1"></i>
                        </label>
                        <div class="col">
                            <input type="file" class="form-control d-none thisRequired"
                                id="companyProof" accept=".pdf"
                                onchange="javascript:{document.getElementById('fileInfo_companyProof').innerHTML = document.getElementById('companyProof').value;}">
                            <div id="fileInfo_companyProof" class="fileInfo py-0"></div>
                            <span class="text-danger" id="danger_companyProof"></span>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <label for="memoOfCooperation"
                            class="col col-form-label upload-label py-0">企業與大同大學教職員簽訂之合作備忘錄<i
                                class="fa-solid fa-upload mx-1"></i>
                        </label>
                        <div class="col-12">
                            <input type="file" class="form-control d-none thisRequired"
                                id="memoOfCooperation" accept=".pdf"
                                onchange="javascript:{document.getElementById('fileInfo_memoOfCooperation').innerHTML = document.getElementById('memoOfCooperation').value;}">
                            <div id="fileInfo_memoOfCooperation" class="fileInfo py-0"></div>
                            <span class="text-danger" id="danger_memoOfCooperation"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label for="consentDoc"
                            class="col col-form-label text-nowrap upload-label py-0">同意審查聲明書<i
                                class="fa-solid fa-upload mx-1"></i>
                        </label>
                        <div class="col-12">
                            <input type="file" class="form-control d-none thisRequired"
                                id="consentDoc" accept=".pdf"
                                onchange="javascript:{document.getElementById('fileInfo_consentDoc').innerHTML = document.getElementById('consentDoc').value;}">
                            <div id="fileInfo_consentDoc" class="fileInfo py-0"></div>
                            <span class="text-danger" id="danger_consentDoc"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label for="businessProof"
                            class="col col-form-label text-nowrap upload-label py-0">營利事業登記證或預查名稱表影本<i
                                class="fa-solid fa-upload mx-1"></i>
                        </label>
                        <div class="col-12">
                            <input type="file" class="form-control d-none thisRequired"
                                id="businessProof" accept=".pdf"
                                onchange="javascript:{document.getElementById('fileInfo_businessProof').innerHTML = document.getElementById('businessProof').value;}">
                            <div id="fileInfo_businessProof" class="fileInfo py-0"></div>
                            <span class="text-danger" id="danger_businessProof"></span>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <label for="planConcept"
                            class="col col-form-label text-nowrap upload-label py-0">企業營運計畫構想書<i
                                class="fa-solid fa-upload mx-1"></i>
                        </label>
                        <div class="col-12">
                            <input type="file" class="form-control d-none thisRequired"
                                id="planConcept" accept=".pdf"
                                onchange="javascript:{document.getElementById('fileInfo_planConcept').innerHTML = document.getElementById('planConcept').value;}">
                            <div id="fileInfo_planConcept" class="fileInfo py-0"></div>
                            <span class="text-danger" id="danger_planConcept"></span>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <label for="entryForm"
                            class="col col-form-label text-nowrap upload-label py-0">創新育成中心進駐申請書<i
                                class="fa-solid fa-upload mx-1"></i>
                        </label>
                        <div class="col-12">
                            <input type="file" class="form-control d-none thisRequired"
                                id="entryForm" accept=".pdf"
                                onchange="javascript:{document.getElementById('fileInfo_entryForm').innerHTML = document.getElementById('entryForm').value;}">
                            <div id="fileInfo_entryForm" class="fileInfo py-0"></div>
                            <span class="text-danger" id="danger_entryForm"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label for="payProof"
                            class="col col-form-label text-nowrap upload-label py-0">合約書<i
                                class="fa-solid fa-upload mx-1"></i>
                        </label>
                        <div class="col-12">
                            <input type="file" class="form-control d-none" id="payProof"
                                accept=".pdf"
                                onchange="javascript:{document.getElementById('fileInfo_payProof').innerHTML = document.getElementById('payProof').value;setFormHeight();}">
                            <div id="fileInfo_payProof" class="fileInfo py-0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>