<div class="row">
    <div class="col-xl-4 col-lg-6 mb-3">
        <div class="row mb-3">
            <label for="idCardName" class="col-lg-auto col-form-label text-nowrap"><span
                    class="d-none d-lg-inline">&emsp;</span>姓名：</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="idCardName" name="idCardName">
                <span class="text-danger" id="danger_idCardName"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="idCardJobTitle" class="col-lg-auto col-form-label text-nowrap"><span
                    class="d-none d-lg-inline">&emsp;</span>職稱：</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="idCardJobTitle" name="idCardJobTitle">
                <span class="text-danger" id="danger_idCardJobTitle"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="idCardPhone" class="col-lg-auto col-form-label text-nowrap" asp-for="IdCard_Phone"><span
                    class="d-none d-lg-inline">&emsp;</span>電話：</label>
            <div class="col">
                <input type="text" class="form-control thisPhone thisRequired" id="idCardPhone"
                    onkeyup="restrictToNumberHyphen(this)" onblur="checkThisPhone.call(this)" name="idCardPhone">
                <span class="text-danger" id="danger_idCardPhone"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="idCardEmail" class="col-lg-auto col-form-label text-nowrap">E-mail：</label>
            <div class="col">
                <input type="email" class="form-control thisEmail thisRequired" id="idCardEmail"
                    onkeyup="restrictToValidChars(this)" onblur="checkThisEmail.call(this)" name="idCardEmail">
                <span class="text-danger" id="danger_idCardEmail"></span>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 mb-3">
        <div class="row mb-3">
            <label for="idCard_Period1" class="col-lg-auto col-form-label text-nowrap"><span
                    class="d-none d-lg-inline">&emsp;</span>進駐期間：</label>
            <div class="col">
                <div class="row">
                    <div class="input-group mb-1">
                        <span class="input-group-text">自</span>
                        <input type="date" class="form-control thisRequired" id="idCard_Period1" name="idCard_Period1">
                        <span class="input-group-text">起</span>
                    </div>
                    <span class="text-danger" id="danger_idCard_Period1"></span>
                </div>
                <div class="row">
                    <div class="input-group mb-1">
                        <span class="input-group-text">至</span>
                        <input type="date" class="form-control thisRequired" id="idCard_Period2" name="idCard_Period2">
                        <span class="input-group-text">止</span>
                    </div>
                    <span class="text-danger" id="danger_idCard_Period2"></span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="idCardCultRoom" class="col-lg-auto col-form-label text-nowrap">培育室位置：</label>
            <div class="col">
                <select class="form-control form-select thisRequired" id="idCardCultRoom" name="idCardCultRoom">
                    <option value="請選擇" disabled selected>--- 請選擇 ---</option>
                </select>
                <span class="text-danger" id="danger_idCardCultRoom"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="idCardPhoto" class="col-lg-auto col-form-label text-nowrap">２吋證件照：</label>
            <div class="col">
                <input type="file" onchange="openFile(event)" class="form-control thisRequired"
                    accept="image/git,image/jpeg,image/jpg,image/png" id="idCardPhoto" name="idCardPhoto">
                <span class="text-danger" id="danger_idCardPhoto"></span>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <div class="col-lg-auto col-form-label text-nowrap">本次申請為：</div>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="applicationType" id="typeFirst" value="1">
                    <label class="form-check-label" for="typeFirst">首次申請</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="applicationType" id="typeReissue" value="0"
                        checked>
                    <label class="form-check-label" for="typeReissue">補發</label>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xl-4 col-lg-6 mb-3">
        <div class="row mb-3">
            <label for="idCardEmergContact" class="col-lg-auto col-form-label text-nowrap">緊急聯絡人：</label>
            <div class="col">
                <input type="text" class="form-control thisRequired" id="idCardEmergContact" name="idCardEmergContact">
                <span class="text-danger" id="danger_idCardEmergContact"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="idCardECPhone" class="col-lg-auto col-form-label text-nowrap">&ensp;&#10551;聯絡電話：</label>
            <div class="col">
                <input type="text" class="form-control thisPhone thisRequired" id="idCardECPhone" name="idCardECPhone"
                    onkeyup="restrictToNumberHyphen(this)" onblur="checkThisPhone.call(this)">
                <span class="text-danger" id="danger_idCardECPhone"></span>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <div class="col-lg-auto col-form-label text-nowrap">圖書館閱覽：</div>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="libraryRead" id="wantReadLibrary" value="1">
                    <label class="form-check-label" for="wantReadLibrary">申請</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="libraryRead" id="dontWantReadLibrary" value="0">
                    <label class="form-check-label" for="dontWantReadLibrary">不申請</label>
                </div>
            </div>
        </div>
        <div class="row mb-3 salaryRadio px-2 py-2 mx-1 border-success">
            <div>&#10551;&ensp;僅供圖書館內閱覽，不提供外借。</div>
        </div>

    </div>
</div>
<div class="row p-3 justify-content-center">
    <div class="col-12 fw-bold  ">申請人聲明：</div>
    <div class="col-12">
        <div class="row ms-3">
            <div class="col-auto">1.</div>
            <div class="col">
                本份資料均填寫屬實，進駐大同大學期間，願意完全遵守大同大學有關人事及校園安全規定條則，並不得任意使用大同大學名稱，如有違背，將立即喪失進駐資格，並歸還任何大同大學所核發校園出入等相關證件。
            </div>
        </div>
        <div class="row ms-3">
            <div class="col-auto">2.</div>
            <div class="col">申請人離職需將識別證繳回育成中心(代繳回本校人事室)。</div>
        </div>
        <div class="row ms-3">
            <div class="col-auto">3.</div>
            <div class="col">識別證為出入培育室使用，不作其他識別用途。</div>
        </div>
        <div class="row ms-3">
            <div class="col-auto">4.</div>
            <div class="col">請妥善保管，如遺失請依規定至本校出納組繳交<span class="fw-bold text-danger">300元</span>並申請補發。</div>
        </div>
        <div class="row ms-3">
            <div class="col-auto">5.</div>
            <div class="col text-decoration-underline fw-bold">印出申請書並簽名後，正本繳交至<span
                    class="fw-bold text-danger">大同大學研發處</span>，才算申請完成喔！</div>
        </div>
    </div>
</div>