<div class="modal-body-wrapper">
    <div class="modal-body" id="returnThisBox">
        <div class="table-responsive px-5" id="printWrapper">
            <div class="row align-items-center justify-content-center mb-2 modal-minW">
                <div class="col-auto title_imgBox"><img src="./images/ttulogo.png">
                </div>
                <h3 class="col-auto text-center fw-bold text-nowrap mb-0">
                    大同大學創新育成中心培育企業識別證申請表
                </h3>
            </div>
            <div class="row justify-content-between text-muted">
                <div class="col" id="version">F-A1410-008</div>
                <div class="col-auto" id="isReprint">補發</div>
            </div>
            <table class="table table-bordered align-middle border border-3 border-dark modal-minW">
                <tr class="py-2">
                    <td colspan="2" class="text-center fw-bold  text-nowrap">
                        公司行號名稱(立案全銜)
                    </td>
                    <td colspan="2" class="text-center fw-bold text-nowrap">負責人</td>
                    <td colspan="2" class="text-center fw-bold text-nowrap">聯絡電話</td>
                    <td rowspan="4" class="text-center fw-bold td_Pic" style="width: 190px; height:250px"><span
                            id="output_text">2吋人頭照片</span><img id="output_img"></td>
                </tr>
                <tr>
                    <td colspan="2" class="h-2" id="idCardCompany_td"></td>
                    <td colspan="2" id="idCardResponsiblePerson_td"></td>
                    <td colspan="2" class="text-nowrap" id="idCardCompanyPhone_td"></td>
                </tr>
                <tr>
                    <td class="text-center fw-bold text-nowrap py-2">申請人姓名</td>
                    <td class="text-center fw-bold text-nowrap">申請人職稱</td>
                    <td colspan="4" class="text-center fw-bold text-nowrap">申請人聯絡電話
                    </td>
                </tr>
                <tr>
                    <td class="h-2" id="idCardName_td"></td>
                    <td id="idCardJobTitle_td"></td>
                    <td colspan="4" id="idCardPhone_td"></td>
                </tr>
                <tr>
                    <td class="text-center fw-bold  text-nowrap py-2">申請人E-mail信箱</td>
                    <td colspan="6" class="h-2" id="idCardEmail_td"></td>
                </tr>
                <tr>
                    <td class="text-center fw-bold  text-nowrap py-2">申請人進駐期間</td>
                    <td colspan="6" class=" h-2">
                        <span class="px-2" id="idCard_Period1_Y"></span>年<span class="px-2"
                            id="idCard_Period1_m"></span>月<span class="px-2"
                            id="idCard_Period1_D"></span>日&emsp;~&emsp;<span class="px-2"
                            id="idCard_Period2_Y"></span>年<span class="px-2" id="idCard_Period2_m"></span>月<span
                            class="px-2" id="idCard_Period2_D"></span>日
                    </td>
                </tr>
                <tr>
                    <td class="text-center fw-bold  text-nowrap py-2">申請人進駐<br>培育室位置
                    </td>
                    <td colspan="6" class="h-2">
                        <span class="px-3" id="idCardCultRoom_Building"></span>大樓<span class="px-3"
                            id="idCardCultRoom_Room"></span>室
                    </td>
                </tr>
                <tr>
                    <td class="text-center fw-bold text-nowrap py-2">緊急聯絡人</td>
                    <td colspan="2" class="h-2" id="ICE_Person"></td>
                    <td colspan="2" class="text-center fw-bold  text-nowrap py-2">聯絡電話
                    </td>
                    <td colspan="2" class="h-2" id="ICE_Phone"></td>
                </tr>
                <tr>
                    <td class="text-center fw-bold  text-nowrap py-2">圖書館閱覽</td>
                    <td colspan="6" class="h-2">
                        <div class="row">
                            <div class="col-auto">
                                <span id="wantYes">&#x2610;</span><span class="me-2 ms-1">申請</span>
                            </div>
                            <div class="col-auto">
                                <span id="dontWantYes">&#x2611;</span><span class="me-2 ms-1">不申請</span>
                            </div>
                            <div class="col"><span class="text-nowrap">(僅提供圖書館閱覽功能，不提供外借功能)</span></div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="row my-3 modal-minW">
                <div class="col-12">申請人聲明：</div>
                <div class="ms-2 col-12">
                    &emsp;&emsp;本份資料均填寫屬實，進駐大同大學期間，願意完全遵守大同大學有關人事及校園安全規定條則，並不得任意使用大同大學名稱，如有違背，將立即喪失進駐資格，並歸還任何大同大學所核發校園出入等相關證件。
                </div>
                <div class="ms-2 col-12">
                    &emsp;&emsp;申請人離職需將識別證繳回育成中心(代繳回本校人事室)。識別證為出入培育室使用，不作其他識別用途。請妥善保管，如遺失請依規定至本校出納組繳交<span
                        class="fw-bold text-danger">300元</span>並申請補發。</div>
            </div>
            <div class="row my-2 mb-3 pb-5 modal-minW">
                <div class="col fw-bold text-dark text-nowrap">申請人簽名：</div>
                <div class="col"></div>
                <div class="col fw-bold text-dark text-nowrap">公司負責人簽名：</div>
                <div class="col"></div>
            </div>
            <div class="row p-2 modal-minW">
                <div class="col py-2 ps-3 border border-dark text-dark">大同大學創新育成中心審核：
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>