<!-- 公司名稱(自動代入)、統編(自動代入)、支付目的(可改) -->
<div class="row mb-1 multiple">
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">
        收據號碼
    </div>
    <div class="col lightBoxItems p-3 align_center" id="receipt_receiptNum"></div>
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">
        收據日期
    </div>
    <div class="col lightBoxItems p-3 align_center" id="receipt_receiptDate"></div>

</div>
<!-- E-mail、聯絡人、聯絡電話 (都自動代入)-->
<div class="row mb-1 multiple">
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">
        收據項目
    </div>
    <div class="col lightBoxItems p-3 align_center" id="receipt_receiptItem"></div>
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">
        收據總額
    </div>
    <div class="col lightBoxItems p-3 align_center" id="receipt_receiptAmount"></div>
</div>
<div class="row mb-1 multiple">
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">
        開立抬頭
    </div>
    <div class="col lightBoxItems p-3 align_center" id="receipt_companyName"></div>
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">
        統一編號
    </div>
    <div class="col lightBoxItems p-3 align_center" id="receipt_uniformNum"></div>
</div>
<div class="row mb-1 multiple">
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">
        收據狀態
    </div>
    <div class="col lightBoxItems p-3 align_center" id="receipt_status"></div>
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">
        管理註記
    </div>
    <div class="col lightBoxItems p-3 align_center" id="receipt_adminNote"></div>
</div>
<div class="row mb-1 multiple">
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">
        建立日期
    </div>
    <div class="col col-lg lightBoxItems p-3 align_center readOnly" id="receipt_createDate"></div>
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel inlineLabel p-3 align_center">
        建檔人員
    </div>
    <div class="col col-lg lightBoxItems p-3 align_center readOnly" id="receipt_createBy"></div>
</div>
