<div class="modal-body">
    <div class="container-fluid">
        <!-- 培育室基本資料 (坪數先給預設，可改)-->
        <div class="row mb-1 multiple">
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">所在區域&emsp;</div>
            <div class="col lightBoxItems p-3 readOnly align_center" id="cultivation_building"></div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">室</div>
            <div class="col lightBoxItems p-3 readOnly align_center" id="cultivation_room"></div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">坪數</div>
            <div class="col lightBoxItems p-3 align_center thisTextRequired" id="cultivation_squareMeters"></div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center pinkBG">服務費用/月</div>
            <div class="col col-lg-2 lightBoxItems p-3 align_center">
                <input type="text" id="cultivation_inputRate" class="form-control" onkeyup="restrictToNum(this)"
                    onfocus="unformatOnFocus(this)" onblur="formatOnBlur(this)">
            </div>
        </div>
        <!-- 培育期間 起訖日期 (服務費先給預設，可改)-->
        <div class="row mb-1 multiple">
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center pinkBG">培育期間&emsp;</div>
            <div class="col-auto col-lg lightBoxItems p-3 align_center">
                <div class="row">
                    <div class="col-auto align_center">起：</div>
                    <div class="col align_center" id="cultivation_startDate"></div>
                    <div class="col-auto align_center">訖：</div>
                    <div class="col align_center" id="cultivation_endDate"></div>
                </div>
            </div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center pinkBG">分期數</div>
            <div class="col col-lg-2 lightBoxItems p-3 align_center thisTextRequired">
                <select class="form-control form-select" id="cultivation_selectPeriod">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <!-- 公司名稱(自動代入)、統編(可改，可輸入已通過且開放的廠商資料)、負責人(自動代入) -->
        <div class="row mb-1 multiple">
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">
                培育企業&emsp;
            </div>
            <div class="col lightBoxItems p-3 align_center readOnly" id="cultivation_companyName"></div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center pinkBG">
                統一編號
            </div>
            <div class="col col-lg-2 lightBoxItems p-3 align_center" id="cultivation_uniformNum"></div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">
                負責人
            </div>
            <div class="col col-lg-2 lightBoxItems p-3 align_center readOnly" id="cultivation_responsiblePerson"></div>
        </div>
        <!-- E-mail、聯絡人、聯絡電話 (都自動代入)-->
        <div class="row mb-1 multiple">
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">
                電子信箱&emsp;
            </div>
            <div class="col lightBoxItems p-3 align_center readOnly" id="cultivation_companyEmail"></div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel inlineLabel p-3 align_center">
                聯絡電話
            </div>
            <div class="col col-lg-2 lightBoxItems p-3 align_center readOnly" id="cultivation_companyPhone"></div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">
                聯絡人
            </div>
            <div class="col col-lg-2 lightBoxItems p-3 align_center readOnly" id="cultivation_contactPerson"></div>
        </div>
        <!-- 到期日 (可改) -->
        <div class="row mb-1 multiple">
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center "
                id="cultivation_label_deadline1">
                一階到期日
            </div>
            <div class="col lightBoxItems p-3 align_center" id="cultivation_deadline1">
            </div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center "
                id="cultivation_label_deadline2">
                二階到期日
            </div>
            <div class="col lightBoxItems p-3 align_center" id="cultivation_deadline2">
            </div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center "
                id="cultivation_label_deadline3">
                三階到期日
            </div>
            <div class="col lightBoxItems p-3 align_center" id="cultivation_deadline3">
            </div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center "
                id="cultivation_label_deadline4">
                四階到期日
            </div>
            <div class="col lightBoxItems p-3 align_center" id="cultivation_deadline4">
            </div>
        </div>
        <!-- 應收款 (可改) -->
        <div class="row mb-1 multiple">
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center"
                id="cultivation_label_installmentAmount1">一階應收款</div>
            <div class="col lightBoxItems p-3 align_center" id="cultivation_installmentAmount1"></div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center"
                id="cultivation_label_installmentAmount2">二階應收款</div>
            <div class="col lightBoxItems p-3 align_center" id="cultivation_installmentAmount2"></div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center"
                id="cultivation_label_installmentAmount3">三階應收款</div>
            <div class="col lightBoxItems p-3 align_center" id="cultivation_installmentAmount3"></div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center"
                id="cultivation_label_installmentAmount4">四階應收款</div>
            <div class="col lightBoxItems p-3 align_center" id="cultivation_installmentAmount4"></div>
        </div>
        <!-- 收據號碼 -->
        <div class="row mb-1 multiple">
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center "
                id="cultivation_label_receiptNum1">
                收據號碼&#10102;
            </div>
            <div class="col lightBoxItems p-3 align_center" id="cultivation_receiptNum1"></div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center "
                id="cultivation_label_receiptNum2">
                收據號碼&#10103;
            </div>
            <div class="col lightBoxItems p-3 align_center" id="cultivation_receiptNum2"></div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center "
                id="cultivation_label_receiptNum3">
                收據號碼&#10104;
            </div>
            <div class="col lightBoxItems p-3 align_center" id="cultivation_receiptNum3"></div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center "
                id="cultivation_label_receiptNum4">
                收據號碼&#10105;
            </div>
            <div class="col lightBoxItems p-3 align_center" id="cultivation_receiptNum4"></div>
        </div>
        <!-- 入帳日 (依收據號碼代入) -->
        <div class="row mb-1 multiple">
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">
                一階付款日
            </div>
            <div class="col lightBoxItems p-3 align_center readOnly" id="cultivation_receivedDate1">
            </div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">
                二階付款日
            </div>
            <div class="col lightBoxItems p-3 align_center readOnly" id="cultivation_receivedDate2">
            </div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">
                三階付款日
            </div>
            <div class="col lightBoxItems p-3 align_center readOnly" id="cultivation_receivedDate3">
            </div>
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">
                四階付款日
            </div>
            <div class="col lightBoxItems p-3 align_center readOnly" id="cultivation_receivedDate4">
            </div>
        </div>


        <div class="row mb-1">
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">
                管理註記&emsp;
            </div>
            <div class="col lightBoxItems p-3 align_center" id="cultivation_adminNote">
            </div>
        </div>

    </div>
</div>