<div class="modal-body">
    <div class="container-fluid">
        <div class="row mb-1">
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">
                啟用日期
            </div>
            <div class="col col-lg-2 lightBoxItems p-3 align_center text-nowrap readOnly" id="personal_createDate"></div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center ">
                個人名稱
            </div>
            <div class="col lightBoxItems p-3 changeInput_items align_center readOnly" id="personal_Name"></div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center ">
                電子信箱
            </div>
            <div class="col lightBoxItems p-3 changeEmail_items align_center readOnly" id="personal_userName"></div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">
                管理備註
            </div>
            <div class="col lightBoxItems p-3 changeInput_items align_center readOnly" id="personal_adminNote"></div>
        </div>
    </div>
</div>