
    <div class="modal-body">
        <div class="container-fluid">
            <!-- 公司名稱和公司簡介 -->
            <div class="row mb-1">
                <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3">
                    公司名稱
                </div>
                <div class="col lightBoxItems p-3" id="companyName"></div>
            </div>
            <div class="row mb-1">
                <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3">
                    公司簡介
                </div>
                <div class="col lightBoxItems p-3" id="companyDescription"></div>
            </div>

            <!-- 職務相關資訊 -->
            <div class="row mb-1 multiple">
                <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3">
                    職務名稱
                </div>
                <div class="col lightBoxItems p-3" id="jobTitle"></div>
                <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel">
                    工作性質
                </div>
                <div class="col lightBoxItems p-3" id="jobEmployment"></div>
                <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel">
                    科系限制
                </div>
                <div class="col lightBoxItems p-3" id="deptOf"></div>
            </div>

            <!-- 工作時間、休假制度、工作待遇 -->
            <div class="row mb-1 multiple">
                <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3">
                    工作時間
                </div>
                <div class="col lightBoxItems p-3" id="jobTime"></div>
                <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel">
                    休假制度
                </div>
                <div class="col lightBoxItems p-3" id="vacationSystem"></div>
                <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel">
                    工作待遇
                </div>
                <div class="col lightBoxItems p-3" id="salaryDetails"></div>
            </div>

            <!-- 工作內容、附加條件、應徵方式 -->
            <div class="row mb-1">
                <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3">
                    工作內容
                </div>
                <div class="col lightBoxItems p-3" id="jobContent"></div>
            </div>
            <div class="row mb-1">
                <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3">
                    附加條件
                </div>
                <div class="col lightBoxItems p-3" id="jobCondition"></div>
            </div>
            <div class="row mb-1">
                <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3">
                    應徵方式
                </div>
                <div class="col lightBoxItems p-3" id="jobConnect"></div>
            </div>

            <!-- 工作地點和截止日期 -->
            <div class="row mb-1 multiple">
                <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3">
                    工作地點
                </div>
                <div class="col lightBoxItems p-3" id="jobLocation"></div>
                <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel">
                    截止日期
                </div>
                <div class="col-12 col-lg-auto lightBoxItems p-3" id="applicationDeadline">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">關閉</button>
    </div>
