<!-- 公司名稱、統編、申請日期 (都不可改) -->
<div class="row mb-1 multiple">
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3">
        承租人企業
    </div>
    <div class="col lightBoxItems p-3 readOnly" id="companyName"></div>
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel">
        統一編號
    </div>
    <div class="col col-lg-2 lightBoxItems p-3 readOnly" id="uniformNum"></div>
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel">
        申請日期
    </div>
    <div class="col col-lg-auto lightBoxItems p-3 readOnly" id="createDate"></div>
</div>

<!-- 姓名、電話、分機 (可改) -->
<div class="row mb-1 multiple">
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center align_center">
        承租人姓名
    </div>
    <div class="col col-lg-3 lightBoxItems p-3 align_center" id="name"></div>
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center align_center">
        電話/手機
    </div>
    <div class="col lightBoxItems p-3 align_center" id="phoneNum">
    </div>
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center align_center">
        分&emsp;機</div>
    <div class="col lightBoxItems p-3 align_center" id="ext">
    </div>

</div>

<!-- 身分證字號、E-mail、職稱 (可改)-->
<div class="row mb-1 multiple">
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">
        身分證字號
    </div>
    <div class="col col-lg-3 lightBoxItems p-3 align_center" id="idNumber"></div>
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">
        &ensp;電子信箱
    </div>
    <div class="col lightBoxItems p-3 align_center" id="email">
    </div>
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">
        職務名
    </div>
    <div class="col lightBoxItems p-3 align_center" id="jobTitle">
    </div>
</div>

<!-- 車位種類 車位號碼 車位費用 (可改)-->
<div class="row mb-1">
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">
        &emsp;車位種類
    </div>
    <div class="col col-lg-3 lightBoxItems p-3 align_center" id="carType"></div>
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">
        &ensp;車位號碼
    </div>
    <div class="col col-lg-3 lightBoxItems p-3 align_center" id="parkingSpaceNum"></div>
</div>

<!-- 到期日 付款日 金額 -->
<div class="row mb-1">
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">
        車位到期日
    </div>
    <div class="col col-lg-3 lightBoxItems p-3" id="endDate"></div>
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">
        &ensp;付款日期
    </div>
    <div class="col lightBoxItems p-3" id="paymentDate"></div>
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">
        車位費用/月
    </div>
    <div class="col lightBoxItems p-3" id="rate"></div>
</div>


<!-- 掃描文件 若曾補件過，顯示補件後的檔案-->
<div class="row mb-1">
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3">
        &emsp;檢附文件
    </div>
    <div class="col lightBoxItems p-3">
        <a class="d-inline me-3 text-nowrap" href="#">申請書&ensp;<i class="fa-solid fa-download"></i><span
                class="mx-1 update">補</span></a>
        <a class="d-inline me-3 text-nowrap" href="#">行照&ensp;<i class="fa-solid fa-download"></i><span
                class="mx-1 update">補</span></a>
        <a class="d-inline me-3 text-nowrap" href="#">繳費證明&ensp;<i class="fa-solid fa-download"></i><span
                class="mx-1 update">補</span></a>
    </div>
</div>
<!-- 補件上傳 若狀態為通過，不顯示此區塊-->
<div class="row mb-1" id="supplementaryFilesBox">
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3">
        &emsp;補件上傳
    </div>
    <div class="col lightBoxItems p-3">
        <div class="row align-items-center my-1">
            <label for="parkingSpaceForm" class="col-auto col-form-label text-nowrap upload-label py-0">申請書<i
                    class="fa-solid fa-upload mx-1"></i>
            </label>
            <div class="col">
                <input type="file" class="form-control d-none" id="parkingSpaceForm" accept=".pdf"
                    onchange="javascript:{document.getElementById('parkingSpace_fileInfo1').innerHTML = document.getElementById('parkingSpaceForm').value;setFormHeight();}">
                <div id="parkingSpace_fileInfo1" class="fileInfo"></div>
            </div>
        </div>

        <div class="row align-items-center my-1">
            <label for="memoUpload" class="col-auto col-form-label text-nowrap upload-label py-0">行照<i
                    class="fa-solid fa-upload mx-1"></i>
            </label>
            <div class="col">
                <input type="file" class="form-control d-none" id="memoUpload" accept=".pdf"
                    onchange="javascript:{document.getElementById('fileInfo6').innerHTML = document.getElementById('memoUpload').value;setFormHeight();}">
                <div id="fileInfo6" class="fileInfo"></div>
            </div>
        </div>

        <div class="row align-items-center my-1">
            <label for="consentDoc" class="col-auto col-form-label text-nowrap upload-label py-0">繳費證明<i
                    class="fa-solid fa-upload mx-1"></i>
            </label>
            <div class="col">
                <input type="file" class="form-control d-none" id="consentDoc" accept=".pdf"
                    onchange="javascript:{document.getElementById('fileInfo3').innerHTML = document.getElementById('consentDoc').value;setFormHeight();}">
                <div id="fileInfo3" class="fileInfo"></div>
            </div>
        </div>

    </div>
</div>
<!-- 審核 -->
<div class="row mb-1 multiple">
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 align_center">
        &emsp;管理註記
    </div>
    <div class="col lightBoxItems p-3 align_center" id="adminNote">
    </div>
    <div class="col-12 col-lg-auto text-nowrap lightBoxLabel p-3 inlineLabel align_center">
        審核進度
    </div>
    <div class="col col-lg-2 lightBoxItems p-2 align_center">
        <select class="form-select" id="status">
            <option value="待審核">待審核</option>
            <option value="待補件">待補件</option>
            <option value="不通過">不通過</option>
            <option value="通過">通過</option>
        </select>
        <div id="statusText" class="p-1 readOnly"></div>
    </div>
</div>