<div class="row">
    <div class="col-xl-4 col-lg-6 mb-3">
        <div class="row mb-3 align-items-center">
            <div class="col-lg-auto col-form-label text-nowrap">所在區域：</div>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="BuildingName" id="originalBuilding" checked>
                    <label class="form-check-label" for="originalBuilding">選擇既有</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="BuildingName" id="newBuilding">
                    <label class="form-check-label" for="newBuilding">另行輸入</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12" id="originalBuildingBox">
                <select name="" id="parkingSpaceBuilding" class="form-select">
                    <option selected disabled>--- 請選擇 ---</option>
                    <option value="新德惠大樓">新德惠大樓</option>
                </select>
                <span class="text-danger" id="danger_parkingSpaceBuilding"></span>
            </div>

            <div class="col-12" id="newBuildingBox">
                <input type="text" class="form-control" id="parkingSpaceBuildingNew">
                <span class="text-danger" id="danger_parkingSpaceBuildingNew"></span>
            </div>
        </div>


    </div>
    <div class="col-xl-4 col-lg-6 mb-3">
        <div class="row mb-3">
            <label for="cultivationSpaceRoom" class="col-lg-auto col-form-label text-nowrap">車位號碼：</label>
            <div class="col">
                <input type="text" class="form-control" id="cultivationSpaceRoom">
                <span class="text-danger" id="danger_cultivationSpaceRoom"></span>
            </div>
        </div>
        <div class="row mb-3 salaryRadio px-2 py-2 mx-1 border-success">
            <div>&#10551;&ensp;請依格式輸入，例：B1-01。</div>
        </div>
        <div class="row mb-3">
            <label for="cultivationSpaceRate" class="col-lg-auto col-form-label text-nowrap">月服務費：</label>
            <div class="col">
                <input type="text" class="form-control" id="cultivationSpaceRate">
                <span class="text-danger" id="danger_cultivationSpaceRate"></span>
            </div>
        </div>

    </div>
    <div class="col-xl-4 col-lg-6 mb-3">
        <div class="row mb-3">
            <label for="cultivationSpaceRemark" class="col-lg-auto col-form-label text-nowrap">管理備註：</label>
            <div class="col">
                <textarea class="form-control resize-none h_110" id="cultivationSpaceRemark"></textarea>
                <span class="text-danger" id="danger_cultivationSpaceRemark"></span>
            </div>
        </div>
    </div>
</div>