.form-check.form-switch {
    padding-left: 0em;

    .form-check-input {
        margin-left: 0;
        float: none;

    }
}

.form-select {
    option {
        color: #333;

        &:disabled {
            color: #888;
        }

        &:hover {
            background-color: #2b4e55;
        }
    }
}

textarea {
    &.resize-none {
        resize: none
    }

    &.h_60 {
        height: 60px;
    }


    &.h_100 {
        height: 100px;
    }

    &.h_110 {
        height: 110px;
    }

    &.h_150 {
        height: 150px;
    }

    &.h_200 {
        height: 200px;
    }
}

.requiredMark {
    color: #e83e8c;
}