// h1.title {
//     font-size: map-get($title, h2);
// }


// @include titleSize($title_size);

// @include fontColor($color_all);

.version_number{
    font-size: .8rem;
    font-weight: 700;
    color: #ced4da;
}